@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.comic-font {
    font-family: 'Bangers', cursive;
    letter-spacing: 2px;
}

/* Credit -> Code Institute - Task Manager Project */
.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

.heading {
    margin-top: 10px;
    margin-bottom: 20px;
}

.avatar-profile {
    height: 80px;
    margin-top: 30px;
}

/* Navbar */
.navbar {
    background-color: rgb(167, 19, 19);
    border: 3px solid rgb(15, 15, 15);
    margin-bottom: 20px;
}

.navbar-brand {
    font-family: 'Bangers', cursive;
    font-size: 2rem;
    letter-spacing: 3px;
}

.nav-item {
    font-family: 'Bangers', cursive;
    letter-spacing: 2.5px;
}

.navbar.sunken {
    box-shadow: rgb(58, 4, 4) 0px 0px 20px 4px inset;
}

/* Footer */
/* Credit -> To keep footer at the bottom -> https://dev.to/domysee/keeping-the-footer-at-the-bottom-with-css-flexbox-5h5f */
#wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

main {
    flex-grow: 1;
}

header, main, footer {
    flex-shrink: 0;
}
/* ---- End Credit ---- */

.blue-footer {
    height: 130px;
    box-shadow: rgb(58, 4, 4) 0px 0px 20px 4px inset;
    margin-top: 30px;
}

.red-footer {
    height: 40px;
    background-color: rgb(167, 19, 19);
    box-shadow: rgb(58, 4, 4) 0px 0px 20px 4px inset;
}

.footer-links {
    padding-right: 20px;
}

.social {
    /* padding-left: 20px; */
}
 
.social-icons {
    font-size: 1.25rem;
    padding-left: 6px;
    padding-right: 20px;
    padding-bottom: 5px;
}

/* Home Page */

#hero-image {
    /* Image by InspiredImages from Pixabay */
    background-image: url('../images/comic-wallpaper.jpg');
    border: 3px solid rgb(15, 15, 15);
    background-color: rgb(167, 19, 19);
    background-size: contain;
    background-repeat: repeat;
    height: 60vh;
    display: flex;
    margin-top: 12px;
    align-items:center;
    justify-content:center;
}

#title-box {
    background-color: rgb(167, 19, 19);
    border: 10px solid rgb(15, 15, 15);
    height: 30vh;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Inspiration taken from CSS Tricks -> https://css-tricks.com/getting-deep-into-shadows/ */
.sunken {
    box-shadow: rgb(58, 4, 4) 0px 0px 30px 4px inset;
  }

h1.title.text-shadow {
    font-family: 'Bangers', cursive;
    font-size: 2.5rem;
    letter-spacing: 6px;
    text-shadow: 2px 6px 2px rgba(0, 0, 0, 1);
}

/* About */

#about {
    margin-top: 100px;
}

.burst-container {
    display: inline-table;
    margin-bottom: 10px;
}

.bursts {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: table-cell;
    height: 340px;
    width: 340px;
    vertical-align: middle;
}

.blue-burst {
    /* Star Vectors by Vecteezy */
    background-image: url('../images/blue-burst.jpg');
}

.yellow-burst {
    /* Cartoon Vectors by Vecteezy */
    background-image: url('../images/yellow-burst.jpg');
}

/* medium screen size */
@media screen and (min-width: 768px) {
    h1.title.text-shadow {
        font-size: 5rem;
        letter-spacing: 9px;
        text-shadow: 2px 10px 2px rgba(0, 0, 0, 1);
    }

    #title-box {
        width: 85%;
    }

    #about {
        margin-top: 60px;
    }

    .bursts {
        height: 240px;
        width: 240px;
    }

    .blue-footer {
        height: 70px;
    }
    
    .red-footer {
        height: 40px;
    }
}

/* iPad Pro screen size */
@media screen and (min-width: 1024px) {
    #title-box {
        width: 75%;
    }

    #about {
        margin-top: 40px;
    }

    .bursts {
        height: 330px;
        width: 330px;
    }
}

/* large screen size */
@media screen and (min-width: 1128px) {
    .bursts {
        height: 370px;
        width: 370px;
    }
}

/* Forms */
form i.fields {
    font-size: 2.25rem;
}

.flashes h4 {
    line-height: 2;
}

#error-msg {
    color: rgb(167, 19, 19);
}

.password-requirements,
.show-details {
    font-size: 12px;
}

.no-results {
    color: rgb(167, 19, 19);
}

/* Avatars Captions */

.carousel-caption {
    bottom: 0;
}

/* Avatars Attribution */

.icons {
    font-size: 10px;
}

/* My Catalogue */

.no-gutter {
    --bs-gutter-x: 0;
}

.my-catalogue-wall {
    background-color: rgb(60, 60, 223);
    padding: 5px;
}

.the-collection-wall {
    background-color: rgb(167, 19, 19);
}

.add-comic-button {
    padding-left: 50px;
    padding-right: 50px;
}

.pic {
    background-size: cover;
    width: 170px;
    height: 240px;
    background-repeat: no-repeat;
    background-position: center;
    border: 20px solid black;
    margin: 5px;
}

.defaut-pic {
    background-image: url('../images/action-comics.webp');
}

/* My comic info modal */

.my-comic-info {
    width: 400px;
    height: 240px;
    border: 20px solid black;
    margin: 5px 20px;
    overflow-y: scroll;
}