@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.comic-font {
    font-family: 'Bangers', cursive;
    letter-spacing: 2px;
}

/* Credit -> Code Institute - Task Manager Project */
.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

.heading,
.page-not-found-heading {
    margin-top: 10px;
    margin-bottom: 20px;
}

.page-not-found-heading {
    color: rgb(167, 19, 19);
    font-size: 38px;
}

.avatar-profile {
    height: 80px;
    margin-top: 30px;
}

/* Navbar */
.navbar {
    background-color: rgb(167, 19, 19);
    border: 3px solid rgb(15, 15, 15);
    margin-bottom: 20px;
}

.navbar-brand {
    font-family: 'Bangers', cursive;
    font-size: 2rem;
    letter-spacing: 3px;
}

.nav-item {
    font-family: 'Bangers', cursive;
    letter-spacing: 2.5px;
}

.navbar.sunken {
    box-shadow: rgb(58, 4, 4) 0px 0px 20px 4px inset;
}

/* Main & Footer */

main {
    flex-grow: 1;
}

header, main, footer {
    flex-shrink: 0;
}

/* ---- End Credit ---- */

.blue-footer {
    height: 130px;
    box-shadow: rgb(58, 4, 4) 0px 0px 20px 4px inset;
    margin-top: 30px;
}

.red-footer {
    height: 60px;
    background-color: rgb(167, 19, 19);
    box-shadow: rgb(58, 4, 4) 0px 0px 20px 4px inset;
}

.footer-links {
    padding-right: 20px;
}
 
.social-icons {
    font-size: 1.25rem;
    padding-left: 6px;
    padding-right: 20px;
    padding-bottom: 5px;
}

.developer {
    margin-right: 16px;
    font-size: 12px;
}

/* Home Page */

#hero-image {
    /* Image by InspiredImages from Pixabay */
    background-image: url('../images/comic_wallpaper.jpg');
    border: 3px solid rgb(15, 15, 15);
    background-color: rgb(167, 19, 19);
    background-size: contain;
    background-repeat: repeat;
    height: 60vh;
    display: flex;
    margin-top: 12px;
    align-items:center;
    justify-content:center;
}

#title-box {
    background-color: rgb(167, 19, 19);
    border: 10px solid rgb(15, 15, 15);
    height: 30vh;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Inspiration taken from CSS Tricks -> https://css-tricks.com/getting-deep-into-shadows/ */
.sunken {
    box-shadow: rgb(58, 4, 4) 0px 0px 30px 4px inset;
  }

h1.title.text-shadow {
    font-family: 'Bangers', cursive;
    font-size: 2.5rem;
    letter-spacing: 6px;
    text-shadow: 2px 6px 2px rgba(0, 0, 0, 1);
}

/* About */

#about {
    margin-top: 20px;
}

.burst-container {
    display: inline-table;
    margin-bottom: 10px;
}

.blue-burst {
    /* Star Vectors by Vecteezy */
    background-image: url('../images/blue_burst.jpg');
}

.yellow-burst {
    /* Cartoon Vectors by Vecteezy */
    background-image: url('../images/yellow_burst.jpg');
}

.bursts {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: table-cell;
    height: 340px;
    width: 340px;
    vertical-align: middle;
}

.about-point {
    font-size: 20px;
}

/* Forms */
form i.fields {
    font-size: 2.25rem;
}

.flashes h4 {
    line-height: 2;
}

#error-msg {
    color: rgb(167, 19, 19);
}

.password-requirements,
.show-details {
    font-size: 12px;
}

.no-results {
    color: rgb(167, 19, 19);
}

/* Avatars Captions */

.carousel-caption {
    bottom: 0;
}

/* Avatars Attribution */

.icons {
    font-size: 10px;
}

/* My Catalogue */

.no-gutter {
    --bs-gutter-x: 0;
}

.my-catalogue-wall {
    background-color: rgb(60, 60, 223);
    padding: 0;
}

.the-collection-wall {
    background-color: rgb(167, 19, 19);
    padding: 0;
}

.the-collection-wall button,
.my-catalogue-wall button {
    padding-left: 0;
    padding-right: 0;
}

.my-catalogue-button,
.add-comic-button {
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: rgb(58, 4, 4) 0px 0px 15px 1px inset;
}

.pic {
    background-size: cover;
    width: 123px;
    height: 180px;
    background-repeat: no-repeat;
    background-position: center;
    border: 16px solid black;
    margin: 0;
}

/* My comic info modal */

.my-comic-info {
    width: 400px;
    height: 240px;
    border: 20px solid black;
    margin: 5px 20px;
    overflow-y: scroll;
}

/* 404 & 500 error pages */

.page-not-found {
    background-image: url("../images/oops.jpg");
    background-color: #FFCA02;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    width: 270px;
}

.my-catalogue-button {
    box-shadow: rgb(58, 4, 4) 0px 0px 20px 4px inset;
    margin: auto;
    position: relative;
    top: 20px;
    width: auto;
}

/* Media Queries */

@media screen and (min-width: 320px) {
    .pic {
        width: 142px;
        height: 200px;
        border: 18px solid black;
    }
}

@media screen and (min-width: 375px) {
    .pic {
        width: 160px;
        height: 230px;
        border: 18px solid black;
    }
}

@media screen and (min-width: 414px) {
    .pic {
        width: 182px;
        height: 265px;
        border: 20px solid black;
    }
}

/* medium screen size */
@media screen and (min-width: 768px) {
    h1.title.text-shadow {
        font-size: 5rem;
        letter-spacing: 9px;
        text-shadow: 2px 10px 2px rgba(0, 0, 0, 1);
    }

    #title-box {
        width: 85%;
    }

    #about {
        margin-top: 40px;
    }

    .bursts {
        height: 240px;
        width: 240px;
    }

    .about-point {
        font-size: 16px;
    }

    .blue-footer {
        height: 90px;
    }
    
    .red-footer {
        height: 40px;
    }

    .developer {
        margin-right: 16px;
        margin-left: 80px;
    }

    .page-not-found-heading {
        font-size: 56px;
    }

    .page-not-found {
        height: 400px;
        width: 400px;
    }

    .my-catalogue-button {
        top: 40px;
    }
}

@media screen and (min-width: 992px) {
    .pic {
        width: 210px;
        height: 305px;
    }
}

@media screen and (min-width: 1200px) {
    .pic {
        width: 200px;
        height: 295px;
    }
}

/* iPad Pro screen size */
@media screen and (min-width: 1024px) {
    #title-box {
        width: 75%;
    }

    .bursts {
        height: 330px;
        width: 330px;
    }

    .blue-footer {
        height: 80px;
    }
}

/* large screen size */
@media screen and (min-width: 1128px) {
    .bursts {
        height: 370px;
        width: 370px;
    }

    .about-point {
        font-size: 20px;
    }

    .my-catalogue-button {
        top: 100px;
    }
}

