{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <img class="avatar-profile" src="/static/images/avatars/avatar{{ user.avatar_no }}.png" alt="Avatar for {{ user.username }}">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="text-center comic-font heading">Add Comic</h2>
            </div>
        </div>
        <div class="row">
            <form class="card col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2" method="POST" action="{{ url_for('add_comic') }}">
                <div class="card-body">
                    <div class="row g-2">
                        <!-- title -->
                        <div class="col-md-1 align-self-center">
                            <i class="fas fa-align-left col-md fields"></i>
                        </div>
                        <div class="col-md-10 offset-md-1 col-lg-11 offset-lg-0">
                            <div class="form-floating mb-3">
                                <input type="text" name="title" class="form-control col-md-8" id="title" placeholder="Title"
                                    minlength="2" maxlength="25" required>
                                <label for="title">Title</label>
                            </div>
                        </div>
                        <!-- publisher selection -->
                        <div class="col-md-1 align-self-center">
                            <i class="fas fa-folder-open col-md fields"></i>
                        </div>
                        <div class="col-md-10 offset-md-1 col-lg-11 offset-lg-0">
                            <div class="form-floating mb-3">
                                <select id="publisher_name" class="form-select" name="publisher_name"
                                    aria-label="Select Publisher" required>
                                    <option value="" disabled selected>Choose Publisher</option>
                                    {% for publisher in publishers %}
                                    <option value="{{ publisher.publisher_name }}">{{ publisher.publisher_name }}</option>
                                    {% endfor %}
                                </select>
                                <label for="publisher_name">Publisher</label>
                            </div>
                        </div>
                        <!-- year -->
                        <div class="col-md-1 align-self-center">
                            <i class="fas fa-calendar-alt col-md fields"></i>
                        </div>
                        <div class="col-md-10 offset-md-1 col-lg-11 offset-lg-0">
                            <div class="form-floating mb-3">
                                <input type="text" name="year" class="form-control" id="year" placeholder="Year"
                                    minlength="1" maxlength="4" pattern="(19|20)[\d]{2,2}" required>
                                <label for="year">Year</label>
                            </div>
                        </div>
                        <!-- issue number -->
                        <div class="col-md-1 align-self-center">
                            <i class="fas fa-hashtag col-md fields"></i>
                        </div>
                        <div class="col-md-10 offset-md-1 col-lg-11 offset-lg-0">
                            <div class="form-floating mb-3">
                                <input type="text" name="issue_no" class="form-control" id="issue_no"
                                    placeholder="Issue Number" minlength="1" maxlength="4" pattern="^[0-9]{1,4}$" required>
                                <label for="issue_no">Issue Number</label>
                            </div>
                        </div>
                        <!-- grade -->
                        <div class="col-md-1 align-self-center">
                            <i class="fas fa-award col-md fields"></i>
                        </div>
                        <div class="col-md-10 offset-md-1 col-lg-11 offset-lg-0">
                            <div class="form-floating mb-3">
                                <input type="text" name="grade" class="form-control" id="grade" placeholder="Grade"
                                    minlength="1" maxlength="4" pattern="^\d*\.?\d+$" required>
                                <label for="grade">Grade</label>
                            </div>
                        </div>
                        <!-- for sale -->
                        <div class="col-md-1 align-self-center">
                            <i class="fas fa-credit-card col-md fields"></i>
                        </div>
                        <div class="col-md-10 offset-md-1 col-lg-11 offset-lg-0 mb-3">
                            <div class="form-check form-switch mt-2">
                                <input class="form-check-input" type="checkbox" id="for_sale" name="for_sale" checked>
                                <label class="form-check-label" for="for_sale">For Sale</label>
                            </div>
                        </div>
                        <!-- Price -->
                        <div class="col-md-1 align-self-center">
                            <i class="fas fa-dollar-sign col-md fields"></i>
                        </div>
                        <div class="col-md-10 offset-md-1 col-lg-11 offset-lg-0">
                            <div class="form-floating mb-3">
                                <input type="text" name="price" class="form-control col-md-8" id="price"
                                    minlength="1" maxlength="7" placeholder="Price" pattern="^\d*\.?\d+$" required>
                                <label for="price">Price In $</label>
                            </div>
                        </div>
                        <!-- image url -->
                        <div class="col-md-1 align-self-center">
                            <i class="fas fa-image col-md fields"></i>
                        </div>
                        <div class="col-md-10 offset-md-1 col-lg-11 offset-lg-0">
                            <div class="form-floating mb-3">
                                <input type="text" name="image_url" class="form-control col-md-8" id="image_url"
                                    placeholder="Image" minlength="5" maxlength="150"
                                    pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)">
                                <label for="image_url">Image URL</label>
                            </div>
                        </div>
                        <!-- notes -->
                        <div class="col-md-1 align-self-center">
                            <i class="fas fa-edit col-md fields"></i>
                        </div>
                        <div class="col-md-10 offset-md-1 col-lg-11 offset-lg-0">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a comment here" id="notes"
                                    name="notes"></textarea>
                                <label for="notes">Notes</label>
                            </div>
                        </div>
                        <!-- Add comic button -->
                        <div class="row d-flex justify-content-center mt-4">
                            <div class="d-grid col-md-4 mb-3">
                                <button type="submit" class="btn text-shadow btn-success comic-font">
                                    Add Comic <i class="far fa-plus-square"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/add_comic.js')}}"></script>
{% endblock %}