{% extends "base.html" %}
{% block content %}

    {% for comic in comics %}
    {{ comic.title }}<br>
    {{ comic.publisher }}<br>
    {{ comic.year }}<br>
    {{ comic.issue_no }}<br>
    {{ comic.grade }}<br>
    {{ comic.for_sale }}<br>
    {{ comic.price }}<br>
    {{ comic.notes }}<br>
    {{ comic.image_url }}<br>
    {{ comic.show_contact_details }}<br>
    {{ comic.email_address }}<br>
    {% endfor %}

<!-- Container to hold list of comic books (Red background) -->
<div class="container comic-wall">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-2 comic-containers">
            <div class="picture-frames mx-auto">
                <div class="pic"></div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2 comic-containers">
            <div class="picture-frames mx-auto"></div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2 comic-containers">
            <div class="picture-frames mx-auto"></div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2 comic-containers">
            <div class="picture-frames mx-auto"></div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2 comic-containers">
            <div class="picture-frames mx-auto"></div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2 comic-containers">
            <div class="picture-frames mx-auto"></div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2 comic-containers">
            <div class="picture-frames mx-auto"></div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2 comic-containers">
            <div class="picture-frames mx-auto"></div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2 comic-containers">
            <div class="picture-frames mx-auto"></div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2 comic-containers">
            <div class="picture-frames mx-auto"></div>
        </div>
    </div>
</div>

{% endblock %}