{% extends "base.html" %}
{% block content %}

<!-- Container to hold list of comic books (Red background) -->
<div class="container-fluid comic-wall">
    {% for comic in comics %}
    <div class="row d-flex justify-content-evenly no-gutter">
        <!-- Credit -> Bootstrap - https://getbootstrap.com/docs/4.0/components/modal/ -->
        <!-- Button trigger modal -->
        <button type="button" class="btn col-6 col-md-4 col-lg-2 pic" data-bs-toggle="modal" data-bs-target="#exampleModal"></button>
    </div>
    {% endfor %}
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    {% for comic in comics %}
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ comic.title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row d-flex justify-content-evenly">
                        <div class="col-sm-12 col-md-4 pic">
                        </div>
                        <div class="col-sm-12 col-md-8 my-comic-info">
                            <p><strong>Title:</strong> {{ comic.title }}</br>
                                <strong>Publisher:</strong> {{ comic.publisher }}</br>
                                <strong>Year:</strong> {{ comic.year }}</br>
                                <strong>Issue Number:</strong> {{ comic.issue_no }}</br>
                                <strong>Grade:</strong> {{ comic.grade }}</br>
                                {% if comic.for_sale == "on" %}
                                <strong>Price:</strong> {{ comic.price }}</br>
                                {% endif %}
                                {% if comic.notes %}
                                <strong>Notes:</strong> {{ comic.notes }}</br>
                                {% endif %}
                                {% if comic.show_contact_details == "on" %}
                                <strong>Show email address:</strong> <i class="fas fa-check-circle"></i>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}