{% extends "base.html" %}
{% block content %}

    <section class="container">
        <div class="row">
            <!-- Avatar -->
            <div class="col text-center">
                <img class="avatar-profile" src="{{ url_for('static', filename='images/avatars/avatar'+user.avatar_no|string()+'.png') }}" 
                    alt="Avatar for {{ user.username }}">
            </div>
        </div>
        <!-- Title -->
        <div class="row">
            <div class="col">
                <h2 class="text-center comic-font heading">Edit Comic</h2>
            </div>
        </div>
        <!-- Form -->
        <div class="row">
            <form class="card col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2" method="POST" action="{{ url_for('edit_comic', comic_id=comic._id) }}">
                <div class="card-body">
                    <div class="row g-2">
                        <!-- title -->
                        <div class="col-md-1">
                            <i class="fas fa-align-left col-md fields"></i>
                        </div>
                        <div class="col-md-10 offset-md-1 col-lg-11 offset-lg-0">
                            <div class="form-floating mb-3">
                                <input type="text" name="title" class="form-control col-md-8" id="title"
                                    value="{{ comic.title }}" placeholder="Title" minlength="2" maxlength="25" required>
                                <label for="title">Title</label>
                            </div>
                        </div>
                        <!-- publisher selection -->
                        <div class="col-md-1">
                            <i class="fas fa-folder-open col-md fields"></i>
                        </div>
                        <div class="col-md-10 offset-md-1 col-lg-11 offset-lg-0">
                            <div class="form-floating mb-3">
                                <select id="publisher_name" class="form-select" name="publisher_name"
                                    aria-label="Select Publisher" required>
                                    <option value="" disabled>Choose Publisher</option>
                                    {% for publisher in publishers %}
                                        {% if publisher.publisher_name == comic.publisher_name %}
                                            <option value="{{ publisher.publisher_name }}" selected>{{ publisher.publisher_name }}</option>
                                        {% else %}
                                            <option value="{{ publisher.publisher_name }}">{{ publisher.publisher_name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <label for="publisher_name">Publisher</label>
                            </div>
                        </div>
                        <!-- year -->
                        <div class="col-md-1">
                            <i class="fas fa-calendar-alt col-md fields"></i>
                        </div>
                        <div class="col-md-10 offset-md-1 col-lg-11 offset-lg-0">
                            <div class="form-floating mb-3">
                                <input type="text" name="year" class="form-control" id="year" placeholder="Year"
                                    minlength="1" maxlength="4" pattern="(19|20)[\d]{2,2}" value="{{ comic.year }}" required>
                                <label for="year">Year</label>
                            </div>
                        </div>
                        <!-- issue number -->
                        <div class="col-md-1">
                            <i class="fas fa-hashtag col-md fields"></i>
                        </div>
                        <div class="col-md-10 offset-md-1 col-lg-11 offset-lg-0">
                            <div class="form-floating mb-3">
                                <input type="text" name="issue_no" class="form-control" id="issue_no" value="{{ comic.issue_no }}"
                                    placeholder="Issue Number" minlength="1" maxlength="4" pattern="^[0-9]{1,4}$" required>
                                <label for="issue_no">Issue Number</label>
                            </div>
                        </div>
                        <!-- grade -->
                        <div class="col-md-1">
                            <i class="fas fa-award col-md fields"></i>
                        </div>
                        <div class="col-md-10 offset-md-1 col-lg-11 offset-lg-0">
                            <div class="form-floating mb-3">
                                <input type="text" name="grade" class="form-control" id="grade" placeholder="Grade"
                                    value="{{ comic.grade }}" minlength="1" maxlength="4" pattern="^\d*\.?\d+$" required>
                                <label for="grade">Grade</label>
                                <p class="comic-grading text-muted">
                                    Please use a scale of 1-10 to grade the condition of your comic. (0.5 Poor - 10.0 Gem Mint)
                                </p>
                            </div>
                        </div>
                        <!-- for sale toggle -->
                        <div class="col-md-1">
                            <i class="fas fa-credit-card col-md fields"></i>
                        </div>
                        <div class="col-md-10 offset-md-1 col-lg-11 offset-lg-0">
                            <div class="form-check form-switch">
                                {% if comic.for_sale == "on" %}
                                    <input class="form-check-input" type="checkbox" id="for_sale" name="for_sale" checked>
                                {% else %}
                                    <input class="form-check-input" type="checkbox" id="for_sale" name="for_sale">
                                {% endif %}
                                <label class="form-check-label" for="for_sale">For Sale</label>
                            </div>
                        </div>
                        <!-- Price -->
                        <div class="col-md-1">
                            <i class="fas fa-euro-sign col-md fields"></i>
                        </div>
                        <div class="col-md-10 offset-md-1 col-lg-11 offset-lg-0">
                            <div class="form-floating mb-3">
                                <input type="text" name="price" class="form-control col-md-8" id="price" value="{% if comic.price != 0 %}{{ comic.price }}{% endif %}" placeholder="Price" 
                                    minlength="1" maxlength="7" pattern="^\d*\.?\d+$" {% if comic.price != 0 %}required{% else %}disabled{% endif %}>
                                    <label for="price">Price In $</label>
                            </div>
                        </div>
                        <!-- image url -->
                        <div class="col-md-1">
                            <i class="fas fa-image col-md fields"></i>
                        </div>
                        <div class="col-md-10 offset-md-1 col-lg-11 offset-lg-0">
                            <div class="form-floating mb-3">
                                <input type="text" name="image_url" class="form-control col-md-8" id="image_url"
                                    value="{{ comic.image_url }}" placeholder="Image" minlength="5" maxlength="150"
                                    pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)">
                                <label for="image_url">Image URL</label>
                            </div>
                        </div>
                        <!-- notes -->
                        <div class="col-md-1">
                            <i class="fas fa-edit col-md fields"></i>
                        </div>
                        <div class="col-md-10 offset-md-1 col-lg-11 offset-lg-0">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a comment here"
                                    id="notes" name="notes">
                                    {{- comic.notes -}}
                                </textarea>
                                <label for="notes">Notes</label>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex mt-4 justify-content-center">
                        <!-- cancel button -->
                        <div class="d-grid col-md-4 mb-3">
                            <a href="{{ url_for('get_comics') }}" class="btn text-shadow btn-danger comic-font text-white">
                                Cancel <i class="far fa-times-circle"></i>
                            </a>
                        </div>
                        <!-- edit button -->
                        <div class="d-grid col-md-4 mb-3">
                            <button type="submit" class="btn text-shadow btn-success comic-font text-white">
                                Edit Comic <i class="far fa-edit"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/edit_comic.js')}}"></script>
{% endblock %}