{% extends "base.html" %}
{% block content %}

<div class="container-fluid" id="hero-image">
    <div class="container-fluid img-thumbnail sunken" id="title-box">
        <div class="row">
            <div class="col">
                <h1 class="text-white text-shadow title text-center">THE COLLECTOR</h1>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row text-center" id="about">
        <div class="col-12 col-md-4 burst-container">
            <div class="blue-burst bursts">
                <h5>Catalogue Your<br>
                    Collection...
                </h5>
            </div>
        </div>
        <div class="col-12 col-md-4 burst-container">
            <div class="yellow-burst bursts">
                <h5>Browse...
                </h5>
            </div>
        </div>
        <div class="col-12 col-md-4 burst-container">
            <div class="blue-burst bursts">
                <h5>Buy<br>
                    & Sell...
                </h5>
            </div>
        </div>

    </div>
</div>

<div id="gallery">
    gallery
</div>

{% endblock %}