{% extends "base.html" %}
{% block content %}

    <section class="container-fluid" id="hero-image">
        <div class="container-fluid img-thumbnail sunken" id="title-box">
            <div class="row">
                <div class="col">
                    <h1 class="text-white text-shadow title text-center">THE COLLECTOR</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid">
        <div class="row text-center" id="about">
            <div id="catalogue-comics" class="col-12 col-md-4 burst-container">
                <div class="blue-burst bursts">
                    <h5 class="about-point">Catalogue<br>
                        Your<br>
                        Collection...
                    </h5>
                </div>
            </div>
            <div id="browse-comics" class="col-12 col-md-4 burst-container">
                <div class="yellow-burst bursts">
                    <h5 class="about-point">Browse...
                    </h5>
                </div>
            </div>
            <div id="buy-&-sell" class="col-12 col-md-4 burst-container">
                <div class="blue-burst bursts">
                    <h5 class="about-point">Buy<br>
                        & Sell...
                    </h5>
                </div>
            </div>
        </div>
    </section>

{% endblock %}