{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col text-center">
            <img class="avatar-profile" src="/static/images/avatars/avatar{{ user.avatar_no }}.png"
                alt="Avatar for {{ user.username }}">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 class="text-center">{{ user.username.title() }}'s Profile</h3>
        </div>
    </div>

    <div class="row">
        <form class="card col-12 col-md-8 offset-md-2" method="POST"
            action="{{ url_for('profile', username=session.user) }}">
            <div class="card-body">
                <div class="row g-2">
                    <!-- full name -->
                    <div class="col-md-1">
                        <i class="fas fa-user-plus col-md fields"></i>
                    </div>
                    <div class="col-md-10 offset-md-1 col-lg-11 offset-lg-0">
                        <div class="form-floating mb-3">
                            <input type="text" name="fullname" class="form-control col-md-8" id="fullname"
                                value="{{ user.fullname }}" placeholder="Full Name" minlength="5" maxlength="25"
                                required>
                            <label for="fullname">Full Name</label>
                        </div>
                    </div>
                    <!-- username -->
                    <div class="col-md-1">
                        <i class="fas fa-user-tag col-md fields"></i>
                    </div>
                    <div class="col-md-10 offset-md-1 col-lg-11 offset-lg-0">
                        <div class="form-floating mb-3">
                            <input type="text" name="username" class="form-control" id="username"
                                value="{{ user.username }}" placeholder="Username" minlength="5" maxlength="15"
                                pattern="^[a-zA-Z0-9]{5,15}$" required>
                            <label for="username">Username</label>
                        </div>
                    </div>
                    <!-- email -->
                    <div class="col-md-1">
                        <i class="fas fa-envelope col-md fields"></i>
                    </div>
                    <div class="col-md-10 offset-md-1 col-lg-11 offset-lg-0">
                        <div class="form-floating mb-3">
                            <input type="email" name="email" class="form-control" id="email" value="{{ user.email }}"
                                placeholder="name@example.com" required>
                            <label for="email">Email address</label>
                            <!-- show contact details toggle -->
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="show_contact_details"
                                    name="show_contact_details"
                                    {% if user.show_contact_details == "on" %}checked{% endif %}>
                                <label class="form-check-label" for="show_contact_details">
                                    <p class="mb-0"><small>Show contact details to other Collectors so that they may
                                            contact me about
                                            my comics.</small></p>
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- choose avatar -->
                    <div class="col-md-1">
                        <i class="fas fa-portrait col-md fields"></i>
                    </div>
                    <div class="col-md-10 offset-md-1 col-lg-11 offset-lg-0">
                        <div class="form-floating mb-3">
                            <input type="number" name="avatar_no" class="form-control" id="avatar_no"
                                value="{{ user.avatar_no }}" placeholder="Avatar Number" min="1" max="9" required>
                            <label for="avatar_no">Choose Avatar</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Inspiration borrowed from http://noffle-my-needs.herokuapp.com/register -->
                    <!-- Avatar Carousel -->
                    <div class="col-sm-12 col-md-8 offset-md-2 col-lg-7 offset-lg-1">
                        <div id="carouselExampleCaptions" class="carousel slide carousel-dark" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <!-- <div>Icons made by <a href="" title="sketchandbuild">sketchandbuild</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
                                    <img src="/static/images/avatars/avatar1.png" class="d-block w-25" alt="Spiderman">
                                    <div class="carousel-caption">
                                        <h5>Avatar 1</h5>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <!-- <div>Icons made by <a href="https://icon54.com/" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
                                    <img src="/static/images/avatars/avatar2.png" class="d-block w-25" alt="Iron Man">
                                    <div class="carousel-caption">
                                        <h5>Avatar 2</h5>
                                    </div>
                                </div>
                                <div class="carousel-item">

                                    <img src="/static/images/avatars/avatar3.png" class="d-block w-25" alt="Batman">
                                    <div class="carousel-caption">
                                        <h5>Avatar 3</h5>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <!-- <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
                                    <img src="/static/images/avatars/avatar4.png" class="d-block w-25" alt="">
                                    <div class="carousel-caption">
                                        <h5>Avatar 4</h5>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <!-- <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
                                    <img src="/static/images/avatars/avatar5.png" class="d-block w-25" alt="">
                                    <div class="carousel-caption">
                                        <h5>Avatar 5</h5>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <!-- <div>Icons made by <a href="https://smashicons.com/" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
                                    <img src="/static/images/avatars/avatar6.png" class="d-block w-25" alt="">
                                    <div class="carousel-caption">
                                        <h5>Avatar 6</h5>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <!-- <div>Icons made by <a href="https://smashicons.com/" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
                                    <img src="/static/images/avatars/avatar7.png" class="d-block w-25" alt="">
                                    <div class="carousel-caption">
                                        <h5>Avatar 7</h5>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <!-- <div>Icons made by <a href="" title="sketchandbuild">sketchandbuild</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
                                    <img src="/static/images/avatars/avatar8.png" class="d-block w-25" alt="">
                                    <div class="carousel-caption">
                                        <h5>Avatar 8</h5>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <!-- <div>Icons made by <a href="" title="sketchandbuild">sketchandbuild</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
                                    <img src="/static/images/avatars/avatar9.png" class="d-block w-25" alt="">
                                    <div class="carousel-caption">
                                        <h5>Avatar 9</h5>
                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    <!-- buttons -->
                    <div class="col col-md-8 offset-md-2 col-lg-4 offset-lg-0">
                        <!-- update -->
                        <div class="row d-flex mb-2">
                            <div class="d-grid col-md-12">
                                <button class="btn btn-warning text-shadow text-white" type="submit">
                                    Update Profile <i class="far fa-save"></i>
                                </button>
                            </div>
                        </div>
                        <!-- Add comic -->
                        <div class="row d-flex mb-2">
                            <div class="d-grid col-md-12">
                                <a href="{{ url_for('add_comic') }}" class="btn text-shadow btn-success">
                                    Add Comic <i class="far fa-plus-square"></i></a>
                            </div>
                        </div>
                        <!-- delete account -->
                        <div class="row d-flex mb-2">
                            <div class="d-grid col-md-12">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn text-shadow btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#deleteAccountModal">
                                    Delete Account <i class="far fa-times-circle"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteAccountModal" tabindex="-1" aria-labelledby="deleteAccountModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteAccountModalLabel">Delete Account</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your account?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn text-shadow btn-success" data-bs-dismiss="modal">
                    Cancel <i class="far fa-times-circle"></i>
                </button>
                <a href="{{ url_for('delete_account', username=session.user) }}" type="submit"
                    class="btn text-shadow btn-danger" data-bs-dismiss="modal">
                    Delete Account <i class="far fa-check-circle"></i>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}